@{
    ViewData["Title"] = "Index";
}
@model List<ProductWithCategoryDto>

<!-- Save Product Button -->
<a class="btn btn-outline-primary mb-3 save-product-btn" asp-action="Save">
    Ürün Ekle
</a>


<!-- Product Table -->
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Ürün Adı</th>
            <th>Fiyatı</th>
            <th>Stok</th>
            <th>Kategori Adı</th>
            <th>Oluşturulduğu Tarih</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.Name</td>
                <td>@item.CreatedDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" style="width: 80px;" asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">
                        Güncelle
                    </a>
                    <a class="btn btn-outline-danger btn-sm" style="width: 80px;" asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Custom Styles -->
<style>
    .table {
        border-radius: 10px;
        overflow: hidden;
    }

    .table-hover tbody tr:hover {
        background-color: #f2f2f2;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s, border-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .btn-outline-warning {
        border-color: #ffc107;
        color: #ffc107;
    }

        .btn-outline-warning:hover {
            background-color: #ffc107;
            color: #fff;
        }

    .btn-outline-danger {
        border-color: #dc3545;
        color: #dc3545;
    }

        .btn-outline-danger:hover {
            background-color: #dc3545;
            color: #fff;
        }

    .save-product-btn {
        /* Renk ve gölge ayarları */
        color: #007bff;
        border-color: #007bff;
        background-color: white;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

        .save-product-btn:hover {
            /* Hover durumunda renk değişikliği */
            color: white;
            background-color: #333366;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            text-decoration: none; /* Bağlantı altını kaldır */
        }

        .save-product-btn i {
            transition: transform 0.3s ease-in-out;
        }

        .save-product-btn:hover i {
            transform: rotate(360deg);
        }
</style>
